out
dist
pnpm-lock.yaml
LICENSE.md
auto-imports.d.ts
components.d.ts
native/**/index.d.ts
# tsconfig.json
# tsconfig.*.json
auto-eslint.mjs

android/app/libs/
android/app/src/main/assets/
android/capacitor-cordova-android-plugins/
.verify*/
